body {
        display: flex;
        margin: 0;
        font-family: Arial, sans-serif;
        height: 100vh;
      }
      
      .left {
        background: #000000;
        color: #575A85;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .left .content {
        text-align: center;
        padding: 50px;
      }
      
      .left img {
        width: 300px; /* Adjust the size of the icon as needed */
      }
      
      .right {
        background: #575A85;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .right .content {
        text-align: center;
        color: #ffffff;
      }
      
      button {
        padding: 10px 20px;
        background-color: #B8BCCC;
        color: #000000;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 5px;
      }
      
      button:hover {
        background-color: #000000;
        color: #B8BCCC;
      }
      
      /* Additional styling for better layout */
      h1, h2 {
        margin-bottom: 10px;
      }
      
      .icon-container {
        margin-top: 20px;
      }
      p{
        color: #B8BCCC;

      }